<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block head %}
    <title>السجل</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/log.css')
    }}"
    />
    {% endblock %}
  </head>

  <body>
    {% block body %}

    <table>
      <tr>
        <th>الوقت</th>
        <th>حالة الباب</th>
        <th>نسبة الرطوبة</th>
        <th>درجة الحرارة</th>
        <th>حالة العقدة</th>
        <th>اسم العقدة</th>
      </tr>
      {% for log in log_data %}
      <tr>
        <th>{{ log.record_time }}</th>
        <th>{{ log.door_status }}</th>
        <th>{{ log.humidity }}</th>
        <th>{{ log.temperature }}</th>
        <th>{{ log.status }}</th>
        <th>{{ log.node_name }}</th>
      </tr>

      {% endfor %}
    </table>

    {% endblock %}
  </body>
</html>
