<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block head %}
    <title>{{fine.driver_name}}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/fine.css')
    }}"
    />
    {% endblock %}
  </head>

  <body>
    {% block body %}

    <div class="main-container">
      <h2>Police Department</h2>
      <p>Name: {{fine.driver_name}}</p>
      <p>Driver-ID: {{fine.driver_id}}</p>
      <p>Bus-ID: {{fine.bus_id}}</p>
      {% if fine.seat_belt_state == 0 %}
      <p>Violation: Seat Belt Violation</p>
      <p>Fine-Price: <u><b>{{seat_belt_fine_price}}</b></u> LY Dinar</p>
      {% endif %} {% if fine.motor_speed_level >= 75 %}
      <p>Violation: Over Speed Limit Violation</p>
      <p>Fine-Price: <u><b>{{over_speed_limit_price}}</b></u> LY Dinar</p>
      {% endif %} {% if fine.tilt_state == 1 %}
      <p>Accident: Flip Over Accident</p>
      {% endif %} {% if fine.collision_state == 1 %}
      <p>Accident: Collision Accident</p>
      {% endif %}
      <u><p>Date: {{fine.record_date}}</p></u>
    </div>

    {% endblock %}
  </body>
</html>
