{% extends 'base.html' %} {% block head %}
<title>Police Reports System </title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
{% endblock %} {% block body %}

<!-- an input to store the flask server ip address and we can access it from javascript later -->
<input type="hidden" id="flask_server_ip_address" value="{{ server_ip }}" />

<!-- create the control panel-->
<ul>
  <li><a href="{{ url_for('settings') }}">Settings</a></li>
  <li><a href="{{ url_for('about') }}">About</a></li>
</ul>

<div class="main-container">

  {% for report in reports %}
  <a href="/print_fine/{{ report.id }}">
  <div class="reports-widget" >
    {{report.driver_name}}

    {% if report.collision_state == 1 or report.tilt_state == 1 %}
    <p>Accident</p>       
    {% endif %}

    {% if report.seat_belt_state == 0 %}
    <p>Seat Belt Fine</p>       
    {% endif %}
  
    {% if report.motor_speed_level >= 75 %}
    <p>Over Speed Limit Fine</p>       
    {% endif %}
  </div>
  </a>

  {% endfor %}

</div>

  <script type="text/javascript" src="{{ url_for('static', filename="js/app.js") }}" ></script>
{% endblock %}
