<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block head %}
    <link rel="stylesheet" href="../static/css/settings.css" />

    {% endblock %}
  </head>

  <body>
    {% block body %}

    <div class="container">
      <h2 id="settings-label">Reports Settings</h2>

      <form
        id="settings-form"
        action="{{ url_for('save_settings') }}"
        method="post"
      >
        <input
          type="text"
          id="seat-belt-fine-input"
          name="seat-belt-fine"
          placeholder="Seat Belt Fine Price"
          value={{ seat_belt_fine_price }}

        />
        <input
          type="text"
          id="over-speed-limit-fine-input"
          name="over-speed-limit-fine"
          placeholder="Over Speed Limit Fine Price"
          value={{ over_speed_limit_price }}
        />
      </form>
      <button id="save-button" type="submit" form="settings-form" value="Save">
        Save
      </button>
    </div>

    {% endblock %}
  </body>
</html>
